.addDataNavBar{
    background-color: gray;
    flex-grow: 1;
}

.buttonAddNew{
    margin: 5px;
}

.companyCard{
    // min-width: 275
}
.oneCard{
    // min-width: 275px;
    width: 40%;
    color: greenyellow;
}

.MuiPaper-root {
    margin: 5px;
    width: 40%;
}