.addDataNavBar{
    background-color: gray;
    flex-grow: 1;
}

.buttonAddNew{
    margin: 5px;
}

.companyCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.oneCard{
    // min-width: 275px;
    // max-width: 40%;
    margin: 2vw;
    // color: greenyellow;
}

// .MuiPaper-root {
//     margin: 5px;
//     width: 40%;
// }