.dataForm{
    margin: auto;
    padding: 20px;
    max-width: 200px;

    border: 7px solid blueviolet;
    box-shadow: black;
    background-color: blanchedalmond;
    input{
        border-radius: 5%;
        padding: 5px;
        margin-bottom: 15px;
    }

    
}

.applyForm{
    padding:20px;

}