body{
    background-image: linear-gradient(to right, #2980b9 , #2c3e50);
    color: red;
}

.heading{
    padding-top: 70px;
    text-align: center;
    
    h1{
        font-size: xxx-large;
        color: sandybrown;
    }

    h5{
        font-size: x-large;
        color: sandybrown;
    }
}

.subHeading{
    text-align: center;
    color: burlywood;
}


.userAuth{
    display: flex;
    justify-content: center;
    margin: auto;
    // background-color: floralwhite;
    width:auto;
    button{
        max-width: 150px;
        // padding: 20px;
        margin: 20px;
        font-size: large;
    }
    
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color:black;
    text-align: center;
    border: 2px solid black;
    padding-bottom: 4px;
    a{
        color: black;
    }
}