body{
    background-image: linear-gradient(to right, #2980b9 , #2c3e50);
    color: red;
}

.heading{
    padding: 70px 0;
    text-align: center;
    
    h1{
        font-size: xxx-large;
        color: sandybrown;
    }

    h5{
        font-size: x-large;
        color: sandybrown;
    }
}

.userAuth{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: floralwhite;
    width: 30%;
    button{
        // padding: 20px;
        margin: 20px;
        font-size: large;
    }
    
}