
.buttonAdd{
    padding: 20px 10px;
    margin-left: 0;
}

.dataForm{
    color:blue;
    
}
.select{
    width:270px;
    margin: 10px;
    padding: 5px;
}

.myModal{
    width: auto;
    max-width: fit-content;
    margin: auto;
}