
.buttonAdd{
    padding: 20px 10px;
    margin-left: 0;
    margin: auto;
}

.dataForm{
    width:70vw;
    // height:50vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;

}

.select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
}

.myModal{
    width: auto;
    max-width: fit-content;
    margin: auto;
}