.signup{
    padding-top: 10px;
}


.signupForm{

    border: 3px solid black;
    padding: 10px;
    border-radius: 10%;
    background-color: blanchedalmond;
    max-width: 350px;
    box-shadow: 6px;
    width: 50vw;
    
    margin: auto;
    color: black;
    font-size: x-large;
    input{
        width: 90%;
        padding: 12px 10px;
        margin: 8px 0;
        border-radius: 5%;
        display: inline-block;
        border: 3px solid #ccc;
        box-sizing: border-box;
    }

    button{
        width: 85%;
        text-align: center;
        margin: 8px 0;
    }

}