.dataTable{
    padding: 20px;
    text-align: center;
    // background-color: blanchedalmond;
    // color: brown;
}
// body{
//     background-color: burlywood;
// }

.mainTable{
    background-color: blanchedalmond;
    margin: auto;
    text-align: center;
}

.status{
    color:green;
}