body {
  background-image: -webkit-gradient(linear, left top, right top, from(#2980b9), to(#2c3e50));
  background-image: linear-gradient(to right, #2980b9, #2c3e50);
  color: red;
}

.heading {
  padding-top: 70px;
  text-align: center;
}

.heading h1 {
  font-size: xxx-large;
  color: sandybrown;
}

.heading h5 {
  font-size: x-large;
  color: sandybrown;
}

.subHeading {
  text-align: center;
  color: burlywood;
}

.userAuth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: auto;
}

.userAuth button {
  max-width: 150px;
  margin: 20px;
  font-size: large;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cadetblue;
  color: black;
  text-align: center;
  border: 2px solid black;
  padding-bottom: 4px;
}

.footer a {
  color: black;
}

.signinForm {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-items: center;
}

.signin {
  width: 35vw;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 20px;
  background: linear-gradient(120deg, #9076F6, #F93E82, #F9E06F);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin form .userName {
  -o-object-fit: contain;
     object-fit: contain;
}

.signin form .userName label {
  margin: 0.3rem;
  font-size: 1.2rem;
}

.signin form .userName input {
  width: 100%;
  height: 4vh;
}

.signin form .password {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1rem;
}

.signin form .password label {
  margin: 0.3rem;
  font-size: 1.2rem;
}

.signin form .password input {
  width: 100%;
  height: 4vh;
}

.signin form .buttons button {
  margin: 0rem 1.6rem;
}

.signup {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-items: center;
}

.signupForm {
  width: 35vw;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 20px;
  background: linear-gradient(120deg, #9076F6, #F93E82, #F9E06F);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signupForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

body {
  color: black;
}

.myNav {
  background-color: cadetblue;
}

.MuiButton-label {
  margin-right: auto;
  width: 500px;
}

.dataForm {
  margin: auto;
  padding: 20px;
  max-width: 300px;
  border: 5px solid black;
  background-color: blanchedalmond;
}

.dataForm input {
  width: 250px;
  margin: 10px;
  padding: 5px;
}

.applyForm {
  padding: 20px;
}

.buttonAdd {
  padding: 20px 10px;
  margin-left: 0;
  margin: auto;
}

.dataForm {
  width: 70vw;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100px;
}

.myModal {
  width: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
}

.dataTable {
  padding: 20px;
  text-align: center;
}

.mainTable {
  background-color: blanchedalmond;
  margin: auto;
  text-align: center;
}

.status {
  color: green;
}
/*# sourceMappingURL=style.css.map */